.progress {
  border-radius: 999px;
  border: 4px solid var(--primary);
  border-top-color: transparent;
  animation: rotate 1s linear infinite;
  height: 32px;
  width: 32px;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
