:root {
  /* light */
  --md-sys-color-primary-light: #005ac1;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #d8e2ff;
  --md-sys-color-on-primary-container-light: #001a41;
  --md-sys-color-primary-fixed-light: #d8e2ff;
  --md-sys-color-on-primary-fixed-light: #001a41;
  --md-sys-color-primary-fixed-dim-light: #adc6ff;
  --md-sys-color-on-primary-fixed-variant-light: #004494;
  --md-sys-color-secondary-light: #575e71;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #dbe2f9;
  --md-sys-color-on-secondary-container-light: #141b2c;
  --md-sys-color-secondary-fixed-light: #dbe2f9;
  --md-sys-color-on-secondary-fixed-light: #141b2c;
  --md-sys-color-secondary-fixed-dim-light: #bfc6dc;
  --md-sys-color-on-secondary-fixed-variant-light: #3f4759;
  --md-sys-color-tertiary-light: #715573;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #fbd7fc;
  --md-sys-color-on-tertiary-container-light: #29132d;
  --md-sys-color-tertiary-fixed-light: #fbd7fc;
  --md-sys-color-on-tertiary-fixed-light: #29132d;
  --md-sys-color-tertiary-fixed-dim-light: #debcdf;
  --md-sys-color-on-tertiary-fixed-variant-light: #583e5b;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fefbff;
  --md-sys-color-on-background-light: #1b1b1f;
  --md-sys-color-outline-light: #74777f;
  --md-sys-color-inverse-on-surface-light: #f2f0f4;
  --md-sys-color-inverse-surface-light: #303033;
  --md-sys-color-inverse-primary-light: #adc6ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #005ac1;
  --md-sys-color-outline-variant-light: #c4c6d0;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #faf9fd;
  --md-sys-color-on-surface-light: #1b1b1f;
  --md-sys-color-surface-variant-light: #e1e2ec;
  --md-sys-color-on-surface-variant-light: #44474f;
  --md-sys-color-surface-container-highest-light: #e3e2e6;
  --md-sys-color-surface-container-high-light: #e9e7ec;
  --md-sys-color-surface-container-light: #efedf1;
  --md-sys-color-surface-container-low-light: #f5f3f7;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #dbd9dd;
  --md-sys-color-surface-bright-light: #faf9fd;
  /* dark */
  --md-sys-color-primary-dark: #adc6ff;
  --md-sys-color-on-primary-dark: #002e69;
  --md-sys-color-primary-container-dark: #004494;
  --md-sys-color-on-primary-container-dark: #d8e2ff;
  --md-sys-color-primary-fixed-dark: #d8e2ff;
  --md-sys-color-on-primary-fixed-dark: #001a41;
  --md-sys-color-primary-fixed-dim-dark: #adc6ff;
  --md-sys-color-on-primary-fixed-variant-dark: #004494;
  --md-sys-color-secondary-dark: #bfc6dc;
  --md-sys-color-on-secondary-dark: #293041;
  --md-sys-color-secondary-container-dark: #3f4759;
  --md-sys-color-on-secondary-container-dark: #dbe2f9;
  --md-sys-color-secondary-fixed-dark: #dbe2f9;
  --md-sys-color-on-secondary-fixed-dark: #141b2c;
  --md-sys-color-secondary-fixed-dim-dark: #bfc6dc;
  --md-sys-color-on-secondary-fixed-variant-dark: #3f4759;
  --md-sys-color-tertiary-dark: #debcdf;
  --md-sys-color-on-tertiary-dark: #402843;
  --md-sys-color-tertiary-container-dark: #583e5b;
  --md-sys-color-on-tertiary-container-dark: #fbd7fc;
  --md-sys-color-tertiary-fixed-dark: #fbd7fc;
  --md-sys-color-on-tertiary-fixed-dark: #29132d;
  --md-sys-color-tertiary-fixed-dim-dark: #debcdf;
  --md-sys-color-on-tertiary-fixed-variant-dark: #583e5b;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1b1b1f;
  --md-sys-color-on-background-dark: #e3e2e6;
  --md-sys-color-outline-dark: #8e9099;
  --md-sys-color-inverse-on-surface-dark: #1b1b1f;
  --md-sys-color-inverse-surface-dark: #e3e2e6;
  --md-sys-color-inverse-primary-dark: #005ac1;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #adc6ff;
  --md-sys-color-outline-variant-dark: #44474f;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #121316;
  --md-sys-color-on-surface-dark: #c7c6ca;
  --md-sys-color-surface-variant-dark: #44474f;
  --md-sys-color-on-surface-variant-dark: #c4c6d0;
  --md-sys-color-surface-container-highest-dark: #343538;
  --md-sys-color-surface-container-high-dark: #292a2d;
  --md-sys-color-surface-container-dark: #1f1f23;
  --md-sys-color-surface-container-low-dark: #1b1b1f;
  --md-sys-color-surface-container-lowest-dark: #0d0e11;
  --md-sys-color-surface-dim-dark: #121316;
  --md-sys-color-surface-bright-dark: #38393c;
}
