:root {
  /* light */
  --md-sys-color-primary-light: #6750A4;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-primary-container-light: #EADDFF;
  --md-sys-color-on-primary-container-light: #21005D;
  --md-sys-color-primary-fixed-light: #EADDFF;
  --md-sys-color-on-primary-fixed-light: #21005D;
  --md-sys-color-primary-fixed-dim-light: #D0BCFF;
  --md-sys-color-on-primary-fixed-variant-light: #4F378B;
  --md-sys-color-secondary-light: #625B71;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-secondary-container-light: #E8DEF8;
  --md-sys-color-on-secondary-container-light: #1D192B;
  --md-sys-color-secondary-fixed-light: #E8DEF8;
  --md-sys-color-on-secondary-fixed-light: #1D192B;
  --md-sys-color-secondary-fixed-dim-light: #CCC2DC;
  --md-sys-color-on-secondary-fixed-variant-light: #4A4458;
  --md-sys-color-tertiary-light: #7D5260;
  --md-sys-color-on-tertiary-light: #FFFFFF;
  --md-sys-color-tertiary-container-light: #FFD8E4;
  --md-sys-color-on-tertiary-container-light: #31111D;
  --md-sys-color-tertiary-fixed-light: #FFD8E4;
  --md-sys-color-on-tertiary-fixed-light: #31111D;
  --md-sys-color-tertiary-fixed-dim-light: #EFB8C8;
  --md-sys-color-on-tertiary-fixed-variant-light: #633B48;
  --md-sys-color-error-light: #B3261E;
  --md-sys-color-on-error-light: #FFFFFF;
  --md-sys-color-error-container-light: #F9DEDC;
  --md-sys-color-on-error-container-light: #410E0B;
  --md-sys-color-outline-light: #79747E;
  --md-sys-color-background-light: #FEF7FF;
  --md-sys-color-on-background-light: #1D1B20;
  --md-sys-color-surface-light: #FEF7FF;
  --md-sys-color-on-surface-light: #1D1B20;
  --md-sys-color-surface-variant-light: #E7E0EC;
  --md-sys-color-on-surface-variant-light: #49454F;
  --md-sys-color-inverse-surface-light: #322F35;
  --md-sys-color-inverse-on-surface-light: #F5EFF7;
  --md-sys-color-inverse-primary-light: #D0BCFF;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #6750A4;
  --md-sys-color-outline-variant-light: #CAC4D0;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-container-highest-light: #E6E0E9;
  --md-sys-color-surface-container-high-light: #ECE6F0;
  --md-sys-color-surface-container-light: #F3EDF7;
  --md-sys-color-surface-container-low-light: #F7F2FA;
  --md-sys-color-surface-container-lowest-light: #FFFFFF;
  --md-sys-color-surface-bright-light: #FEF7FF;
  --md-sys-color-surface-dim-light: #DED8E1;
  /* dark */
  --md-sys-color-primary-dark: #D0BCFF;
  --md-sys-color-on-primary-dark: #381E72;
  --md-sys-color-primary-container-dark: #4F378B;
  --md-sys-color-on-primary-container-dark: #EADDFF;
  --md-sys-color-primary-fixed-dark: #EADDFF;
  --md-sys-color-on-primary-fixed-dark: #21005D;
  --md-sys-color-primary-fixed-dim-dark: #D0BCFF;
  --md-sys-color-on-primary-fixed-variant-dark: #4F378B;
  --md-sys-color-secondary-dark: #CCC2DC;
  --md-sys-color-on-secondary-dark: #332D41;
  --md-sys-color-secondary-container-dark: #4A4458;
  --md-sys-color-on-secondary-container-dark: #E8DEF8;
  --md-sys-color-secondary-fixed-dark: #E8DEF8;
  --md-sys-color-on-secondary-fixed-dark: #1D192B;
  --md-sys-color-secondary-fixed-dim-dark: #CCC2DC;
  --md-sys-color-on-secondary-fixed-variant-dark: #4A4458;
  --md-sys-color-tertiary-dark: #EFB8C8;
  --md-sys-color-on-tertiary-dark: #492532;
  --md-sys-color-tertiary-container-dark: #633B48;
  --md-sys-color-on-tertiary-container-dark: #FFD8E4;
  --md-sys-color-tertiary-fixed-dark: #FFD8E4;
  --md-sys-color-on-tertiary-fixed-dark: #31111D;
  --md-sys-color-tertiary-fixed-dim-dark: #EFB8C8;
  --md-sys-color-on-tertiary-fixed-variant-dark: #633B48;
  --md-sys-color-error-dark: #F2B8B5;
  --md-sys-color-on-error-dark: #601410;
  --md-sys-color-error-container-dark: #8C1D18;
  --md-sys-color-on-error-container-dark: #F9DEDC;
  --md-sys-color-outline-dark: #938F99;
  --md-sys-color-background-dark: #141218;
  --md-sys-color-on-background-dark: #E6E0E9;
  --md-sys-color-surface-dark: #141218;
  --md-sys-color-on-surface-dark: #E6E0E9;
  --md-sys-color-surface-variant-dark: #49454F;
  --md-sys-color-on-surface-variant-dark: #CAC4D0;
  --md-sys-color-inverse-surface-dark: #E6E0E9;
  --md-sys-color-inverse-on-surface-dark: #322F35;
  --md-sys-color-inverse-primary-dark: #6750A4;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #D0BCFF;
  --md-sys-color-outline-variant-dark: #49454F;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #36343B;
  --md-sys-color-surface-container-high-dark: #2B2930;
  --md-sys-color-surface-container-dark: #211F26;
  --md-sys-color-surface-container-low-dark: #1D1B20;
  --md-sys-color-surface-container-lowest-dark: #0F0D13;
  --md-sys-color-surface-bright-dark: #3B383E;
  --md-sys-color-surface-dim-dark: #141218;
}