.primary {
  background-color: var(--primary);
  color: var(--on-primary);
}

.primaryContainer {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
}

.secondary {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.secondaryContainer {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}

.surface {
  background-color: var(--surface);
  color: var(--on-surface);
}

.surfaceContainer {
  background-color: var(--surface-container);
  color: var(--on-surface-container);
}
