.wrapper {
  position: relative;
  display: inline-flex;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.checkbox {
  padding: 0px;
  display: grid;
  place-items: center;
  background-color: transparent;
  border: 2px solid var(--checkbox);
  border-radius: 4px;
}
.checked {
  background-color: var(--checkbox);
}
.primary {
  --checkbox: var(--primary);
  --on-checkbox: var(--on-primary);
}
.input {
  position: absolute;
  inset: 0;
  opacity: 0;
}
.icon {
  color: var(--on-checkbox);
  transition: opacity 0.2s;
  width: 1em;
  height: 1em;
}
